@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar{
    -ms-overflow-style: none; /*scrollbar ilang*/
    scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 14px; /* Lebar total scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c14600; /* Warna scrollbar tengah */
    border-radius: 6px;
    border: 4px solid #F7EED3; /* Memberikan efek jarak dari track */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #F7EED3; /* Warna latar belakang scrollbar */
    border-radius: 6px;
    margin: 4px; /* Jarak antara track dan konten */
}
  